* {
    font-family: 'Montserrat', sans-serif;
    color: #42413F;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.glow {
    text-shadow: white 0px 0px 10px;
}
.white {
    color: white;
}
.card {
    height: 200px;
    width: 330px;
    border: 2px solid grey;
    background: rgba(255,255,255, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 4px -17px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 4px -17px rgba(0,0,0,0);
    transition: all .1s ease-in-out;
    cursor: pointer;
    border-radius: 12px;
}
.google-form-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    z-index: 10;
}
.google-form-scroll {
    position: absolute;
    background: white;
    height: 75%;
    width: 50%;
    border: 2px solid grey;
    border-radius: 12px;
}
.close {
    position: absolute;
    right: -36px;
    top: -36px;
    margin: 0 0 18px 18px;
    font-size: 2rem;
    cursor: pointer;
}
.close:hover {
    color: grey;
}
.card:hover {
    transform: scale(1.1);
    transition: all .1s ease-in-out;
}
.card-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 118%;
}
.main {
    height: 80%;
    background: url('../images/tree.jpg');
    background-size: cover;
    padding: 0 10%;
    position: relative;
}

header {
    position: absolute;
    top: 25%;
}
.title {
    font-size: 4rem;
}
.subtitle {
    font-size: 1.25rem;
    width: 75%;
}

footer {
    height: 20%;
    background: #522A2E;
}

span i {
    margin-top: 50%;
    color: #42413F;
    font-size: 3em;
}